@media (max-width: 666px) {
  .navbar {
    padding-right: 4vw !important;
    padding-left: 4vw !important;
    height: 88px;
    display: flex !important;
  }
  .hamburger {
    display: block !important;
  }
  .hidden {
    display: none !important;
  }
  .dropdown > * > * {
    border-bottom: 0.5px solid lightgray;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .secret-content > * {
    border-bottom: 0.5px solid lightgray;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .dropdown > .alternative {
    opacity: 0;
    margin-right: 100vw !important;
    padding-right: 0 !important;
    margin-top: -37px !important;
    transition: opacity 1.3s;
  }
  .secret-dropdown {
    display: flex !important;

  }
  .secret-content {
    display: flex !important;
    flex-direction: column; 
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    top: 88px;
    padding-right: auto !important;
    min-width: 50vw !important;
    max-height: 50vh !important;
    border-radius: 5%;
    
  }
  .dropdown:hover > .alternative {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0s;
  }

  .secret-content > * {
    height: 50px;
  }
}

/* main container */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 88px;
    max-height: 88px;
    padding-right: 14%;
    padding-left: 14%;
  }
  /* logo */
  .placeholder-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    flex-shrink: 0;
    align-self: center;
  }
  
  .dropdown, a, .burger-menu, .burger-text {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center; 
    padding:2vw;
  }
  a {    
    text-decoration: none;
    color: black;
  }
  /* Dropdown menu items have this, changed to visible when active */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 88px;
  }
  /* Shows the dropdown menu items when hovered over */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: grey;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }

    /**
    Hamburger
  **/
  .burger-menu{
    display: none;
  }

  #toggle {
    display: none;
  }

  .hamburger {
    display: none;
    
    position: relative;
    margin-top: 50%;
    margin-left: auto;
    margin-bottom: auto;
    z-index: 5;
  }
  
  .hamburger div {
    
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: darkgrey;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  /**
  Animations for burger
  **/
  #toggle:checked + .hamburger .top-bun {
    margin-top: 40px;
    transform: rotate(-45deg);
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -6px;
  }
  
  /* secret dropdown  on mobile */
.secret-dropdown {
  display: none;

}

/*button animations*/
@keyframes flash {
  0% { background-color: initial; }
  50% { background-color: grey; }
  100% { background-color: initial; }
}