@tailwind base;
/* defaults for entire site */
@tailwind components;
/* more complicated classes */
@tailwind utilities;
/* custom utility classes */

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "buttons";
  @import "tools"; /* Cost calculator and short-term packages tool */
  @import "faq";

}

@layer utilities {
  @import "utilities";

  .max-w-xs {
    max-width: 50rem;
    margin: 0 auto;
    text-align: left;
    margin-left: 0;
  }

  .centered-image {
    margin: 0 auto;
  }

}